venv/
/home/ltgwgeorge/Desktop/GeorgeVenv/
/home/ltgwgeorge/Desktop/GeorgeCode/python/pythonGeorge/LearnMachineLearning/models/crop_model.h5
/home/ltgwgeorge/Desktop/GeorgeCode/python/pythonGeorge/LearnDjango/DjangoVenv/
/home/ltgwgeorge/Desktop/GeorgeCode/sklearn-env/